.li {
  box-sizing: border-box;
  width: 380px;
  padding: 28px 0 36px;
  position: relative;
  background-color: #5736a3;
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
}

.logo {
  margin-left: 20px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.img {
  display: block;
  position: absolute;
  top: 28px;
  left: 36px;
  width: 308px;
  height: 168px;
  margin: 0 auto;
}

.userContainer {
  text-align: center;
  margin: 0 auto 26px;
}

.userText {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;

  color: #ebd8ff;

  margin-top: 0;
  margin-bottom: 16px;
}

.avatar {
  /* display: block; */

  border: 13.1749px solid #ebd8ff;
  border-color: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;

  margin-top: 150px;
  margin-bottom: 26px;
  width: 72px;
  height: 72px;

  border-radius: 100%;
}

.imgContainer::before {
  content: '';
  display: block;
  width: 150px;
  height: 8px;
  position: absolute;

  margin-top: 58px;

  top: 50%;
  left: 0px;
  background-color: rgb(235, 216, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3.43693px 3.43693px,
    rgb(174, 123, 227) 0px -1.71846px 3.43693px inset,
    rgb(251, 248, 255) 0px 3.43;
}

.imgContainer::after {
  content: '';
  display: block;
  width: 150px;
  height: 8px;
  position: absolute;

  margin-top: 58px;

  top: 50%;
  right: 0px;
  background-color: rgb(235, 216, 255);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3.43693px 3.43693px,
    rgb(174, 123, 227) 0px -1.71846px 3.43693px inset,
    rgb(251, 248, 255) 0px 3.43;
}

.btn {
  display: block;
  cursor: pointer;
  width: 196px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10.3108px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #373737;
  text-transform: uppercase;
  transition: transform 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  /* background-color: p => (p.following ? '#5CD3A8': '#ebd8ff'); */
}

.btn:focus {
  background-color: #5cd3a8;
}
